@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    float: right;
    margin-top: 70px;
}

li {
    display: inline-block;

}

a {
    text-decoration: none;
    color: grey;
}

.liLeft {
    margin-right: 28px;
}


.detail__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 440px;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.detail__text-box a {
    color: #23303e;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none;
    overflow: hidden;
}

.detail__text-box a::after {
    display: block;
    content: "";
    height: 8px;
    width: 126px;
    border-radius: 4px;
    opacity: 40%;
    position: relative;
    top: -8px;
    left: calc(50% - 63px);
    z-index: -1;
}

/* footer */

.footer-container {
    height: 320px;
    background-color: #90d4c5;
}